# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron

# RStudio
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Temporary files created by bookdown
_book/
_bookdown_files/

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.thm
*.toc

# macOS
.DS_Store

# Windows
Thumbs.db
[Dd]esktop.ini

# Project specific
packages.bib
